body {
    background-color: #161616;
}

::-webkit-scrollbar {
    width: 0;
}

main {
    background-color: #3e3e3e;
    width: 70%;
    padding: 20px 50px;
    margin: 50px auto 0;
    border-radius: 15px;
    color: #dddddd;
}

h1, h2, cite{
    display: block;
    text-align: center;
    color: white;
}

cite {
    color: #dddddd;
}

span {
    color: white;
    font-weight: bold;
}

img {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    border-radius: 15px;
}

#timeline {
color: #dddddd;
}

main p {
    display: block;
    margin-top: 40px;
}

main p:before {
    position: absolute;
    margin-top: -20px;
    width: 70%;
    height: 0.5px;
    background: #656565;
    content: "";
    display: block;
    left: 50%;
    transform: translatex(-50%);
  }

  main p:last-child {
    text-align: center;
    margin-bottom: 0px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  footer {
    color: white;
    text-align: center;
  }

  .logo {
    margin: 10px;
    width: 30px;
    vertical-align: middle;
  }

  footer a {
    vertical-align: middle;
  }